<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>这是新闻列表页</h3>
    <ul>
        <% for( let index=0; index < list.length; index++ ) { %>
            <li>
                <a href="/newscontent?aid=<%= list[index]['aid'] %>">
                    <%= list[index].title %>
                </a>
                <%= helper.formatTime(list[index].dateline) %>
            </li>
            <% } %>
    </ul>
</body>

</html>